<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- development/CLI utilities -->
  <package id="ag" />
  <package id="conemu" />
  <package id="curl" />
  <!-- <package id="cygwin" forceX86="true" installArguments="&#45;&#45;quiet&#45;mode &#45;&#45;packages git,open&#45;ssh,curl,wget"/> -->
  <package id="git" packageParameters="/NoAutoCrlf"/>
  <package id="git-credential-manager-for-windows"/>
  <package id="nodejs" />
  <package id="notepadplusplus" />
  <package id="vim" />
  <package id="visualstudiocode" />
</packages>
