<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="autohotkey" />
  <package id="ccleaner" />
  <package id="f.lux" />
  <package id="firefox" packageParameters="os=win64"/>
  <package id="foxitreader" />
  <package id="googlechrome" />
  <package id="katmouse" />
  <package id="keepass" />
  <package id="vlc" />
</packages>
